@model IEnumerable<PetAdoptionPlatform.Models.Animal>

@{
    ViewData["Title"] = "Тварини, які шукають дім";
}

<h1>Тварини, які шукають дім</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Фото</th>
            <th>Ім'я</th>
            <th>Вік</th>
            <th>Порода</th>
            <th>Опис</th>
            <th>Додав користувач </th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var animal in Model)
        {
            <tr>
                <td>
                    <img src="@animal.ImageUrl" alt="Фото @animal.Name" width="100" height="100" class="img-thumbnail">
                </td>
                <td>@animal.Name</td>
                <td>@animal.Age</td>
                <td>@animal.Breed</td>
                <td>@animal.Description</td>
                <td>@(animal.AddedByUser?.Email ?? "Невідомо")</td>
                <td>
                    <button class="btn btn-success apply-button" data-toggle="modal" data-target="#adoptModal" data-animal-id="@animal.Id">
                        Подати заявку
                    </button>

                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@animal.Id" class="btn btn-warning">Редагувати</a>
                        <form asp-action="Delete" asp-route-id="@animal.Id" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Ви впевнені?');">Видалити</button>
                        </form>
                    }
                </td>
            </tr>
            
        }
    </tbody>
</table>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Додати тварину</a>
    </p>
}

